.topAlbum_static {
  display: flex;
  align-items: baseline;
  padding: 12px;
  justify-content: space-between;
}
.topAlbum_static > button {
    width: 120px;
    height: 30px;
    font-weight: 600;
    font-size: 20px;
    background-color: var(--black-color);
    color: var(--primary-color);
    cursor: pointer;
    border: none;
}
.topAlbum_static > h3 {
  width: 130px;
  height: 30px;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: var(--white-color);
  /* cursor: pointer; */
  border: none;
}
.topAlbum_cards{
    display: flex;
    padding: 15px;
    
    justify-content: space-between;
    
    flex-wrap: wrap;
}